<div class="container">
  <h1>My meal plans</h1>

  <div>
    <p>Ask the assistant for a meal plan</p>
  </div>

  <div class="container mt-4">
    <h3>Today's meal plans</h3>
    <div class="d-flex justify-content-start">
      <% @today_meals.each do |meal| %>
        <div class="card col-3 text-bg-light m-2">
          <div class="card-header">
            <%= meal.date %> - <%= meal.meal_type %>
          </div>
          <ul class="card-body">
            <% meal.recipes.each do |recipe| %>
            <li class="list-group-item">
              <%= link_to recipe.name, meal_plan_recipe_path(meal, recipe) %>
            </li>
            <% end %>
          </ul>
        </div>
        <% end %>
    </div>
  </div>

  <div class="container mt-4">
    <h3>This week meal plans</h3>
    <div class="d-flex justify-content-start">
      <% @weekly_meals.each do |meal| %>
        <div class="card col-3 text-bg-light m-2">
          <div class="card-header">
            <%= meal.date %> - <%= meal.meal_type %>
          </div>
          <ul class="card-body">
            <% meal.recipes.each do |recipe| %>
            <li class="list-group-item">
              <%= link_to recipe.name, meal_plan_recipe_path(meal, recipe) %>
            </li>
            <% end %>
          </ul>
        </div>
        <% end %>
    </div>
  </div>

</div>
