<div class="container mt-4 fw_bold">
  <h1 class="text-black text-shadow">My meal plans</h1>

  <div class="container">
    <div class="row g-4 text-center">

      <div class="col-md-9">

        <!-- Daily meal plan Section -->
        <div class="container-daily mt-4">

          <!-- Today header -->
          <h2 class="mb-4 text-black text-shadow">
            <i class="fa-solid fa-utensils"></i> <%= Time.now().strftime("%d %B %Y") %>
          </h2>

          <!-- Today's meal plans -->
          <div class="card-body mb-1 ">

            <div class="d-flex justify-content-between">
              <% [["🌅 Breakfast", "breakfast"], ["☀️ Lunch", "lunch"], ["🌙 Dinner", "dinner"]].each do |label, type| %>
                  <div class="card text-bg-light bg-light-gray rounded-4" style="width: 32%;">
                    <% meals = @today_meals.select { |m| m.meal_type == type } %>
                    <div class="card-header">
                      <div class="d-flex justify-content-between ">
                        <h3 class="fw-bold text-start"><%= label %></h3>
                        <% unless meals.any? %>
                         <%= link_to "➕", new_meal_plan_path(date: DateTime.now, meal_type: type),
                            style: "text-decoration: none; cursor: pointer; color: inherit;"  %>
                        <% end %>
                      </div>
                    </div>
                    <div class="card-body mb-1">

                      <% if meals.any? %>
                        <% meals.each do |meal| %>
                        <div class="d-flex justify-content-between ">
                          <%= link_to meal.meal, meal_plan_path(meal), class: "meal-link, text-success fw-semibold",
                          style: "text-decoration: none; cursor: pointer; color: inherit;" %>
                          <div>
                            <%= link_to "✏️", edit_meal_plan_path(meal),
                            style: "text-decoration: none; cursor: pointer; color: inherit;"   %>
                            <%= link_to "🥣", chats_path(chat: {title: meal.meal}),
                            data: { turbo_method: :post },
                            style: "text-decoration: none; cursor: pointer; color: inherit;"  %>
                          </div>
                        </div>
                        <div>
                          <% meal.recipes.each do |recipe| %>
                            <div class="d-flex justify-content-between ">
                              <%= link_to "🍽️ #{recipe.name}  — 🔥#{recipe.calories} kcal", meal_plan_recipe_path(meal, recipe),
                              class: "list-group-item list-group-item-action list-group-item-light fw-semibold",
                              style: "text-decoration: none; font-size: 0.85rem; text-align: justify;"  %>
                              <%= link_to "🗑️", recipe_path(recipe),
                              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                              style: "text-decoration: none; cursor: pointer; color: inherit;"  %>
                            </div>
                          <% end %>
                        </div>
                        <% end %>
                      <% else %>
                        <div class="meal-link, text-success text-start fw-semibold", style="color: inherit; ">
                          No meal planned.
                        </div>
                    <% end %>
                    </div>
                  </div>
              <% end %>
              </div>
          </div>

        </div>

        <!-- Weekly meal plan Section -->
        <div class="container-weekly mt-5">
            <h2 class="text-black text-shadow">
              <i class="fa-regular fa-calendar"></i> This week meal plans
            </h2>

          <div class= "mb-4" style="font-size: 1.1rem;">
            <%= link_to "Create a meal plan ➕", new_meal_plan_path, class: "meal-link, text-black",
                          style: "text-decoration: none; cursor: pointer; color: inherit; font-weight: 600; "  %>
          </div>

          <div class="d-flex flex-row flex-nowrap overflow-auto pb-3">
            <% @weekly_meals.group_by(&:date).each do |date, day_meals| %>
              <div class="me-3" style="width: 32%;">
                <div class="card shadow-sm h-100 rounded-4" style="border: 1px solid #eee;">
                  <div class="card-header">
                    <div class="d-flex justify-content-between ">
                        <h3 class="fw-semibold text-start"><%= date.strftime("%A, %d %B") %></h3>
                        <% if day_meals.size < 3 %>
                         <%= link_to "➕", new_meal_plan_path(date: date),
                            style: "text-decoration: none; cursor: pointer; color: inherit;"  %>
                        <% else %>
                          ✔️
                        <% end %>
                      </div>
                  </div>

                  <div class="card-body bg-transparent">
                    <% day_meals.sort_by { |m| ["Breakfast", "Lunch", "Dinner"].index(m.meal_type) || 99 }
                                .group_by(&:meal_type).each do |meal_type, meals| %>

                      <div class="meal-item pb-2">
                        <span class="badge bg-dark-subtle mb-1" style="font-size: 0.7rem;">
                          <%= meal_type %>
                        </span>
                        <% meals.each do |m| %>
                          <div class="d-flex justify-content-between ">
                            <%= link_to m.meal.capitalize, meal_plan_path(m),
                            class: "text-success", style: "text-decoration: none; font-weight: 600;" %>
                            <div>
                              <%= link_to "✏️", edit_meal_plan_path(m),
                              style: "text-decoration: none; cursor: pointer; color: inherit;"   %>
                              <%= link_to "🥣", chats_path(chat: {title: m.meal}),
                              data: { turbo_method: :post },
                              style: "text-decoration: none; cursor: pointer; color: inherit;"  %>
                            </div>
                          </div>
                          <% if m.recipes.any? %>
                            <div class="mt-2 border-top">
                              <% m.recipes.each do |recipe| %>
                                <div class="mt-2">
                                  <%= link_to recipe.name.capitalize, meal_plan_path(m),
                                      class: "text-dark",
                                      style: "text-decoration: none; font-weight: 600; font-size: 0.85rem;" %>
                                </div>
                              <% end %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>

      <%# Chatbot and meal plan create %>
      <div class="col-md-3">
        <div class="container-daily mt-4">
          <h2 class="mb-4 text-black text-shadow"><i class="fa-solid fa-wrench"></i> Tools</h2>

          <div class="form-actions text-center mt-3">
            <%= link_to chats_path(chat: {status: "Pending", title: "Untitled"}),
            data: { turbo_method: :post },
            class: "card h-100 border-0 shadow-sm p-3 text-decoration-none text-dark rounded-4 bg-light-gray" do %>
              <div class="fs-4"><i class="fa-solid fa-robot"></i></div>
              <p class="fw-bold mt-2 fs-3">Ask for a recipe</p>
            <% end %>
          </div>

      </div>

    </div>
  </div>
</div>
