<div class="container mt-4">

  <%= link_to '← Back', meal_plans_path, class: "btn btn-outline-secondary bg-white rounded-4 mb-3" %>

  <div class="container">
    <div class="row g-4">

      <div class="col-md-9 card border-0 shadow-sm bg-white">
        <div class="card-body">
          <h1 class="text-success">🧑‍🍳 <%= @meal_plan.date.strftime("%d %B %Y") %></h1>
          <hr>
      <% [["🌅 Breakfast", "Breakfast"], ["☀️ Lunch", "Lunch"], ["🌙 Dinner", "Dinner"]].each do |label, type| %>
        <% meals = @day_meals.select { |m| m.meal_type == type } %>
        <div class="mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="text-success mb-0"><%= label %></h6>
            <div class="d-flex gap-1 align-items-center">
              <%= link_to "➕", new_meal_plan_path(date: @meal_plan.date, meal_type: type), style: "font-size: 0.8rem; text-decoration: none;" %>
            </div>
          </div>
          <% if meals.any? %>
            <% meals.each do |meal| %>
              <div class="d-flex justify-content-between align-items-center">
                <p class="mb-1"><small><%= meal.meal %></small></p>
                <%= link_to "✏️", edit_meal_plan_path(meal), style: "font-size: 0.8rem; text-decoration: none;" %>
              </div>
              <% meal.recipes.each do |recipe| %>
                <small class="text-muted">🍽️ <%= recipe.name %> — 🔥 <%= recipe.calories %> kcal</small><br>
              <% end %>
            <% end %>
          <% else %>
            <small class="text-muted">No meal planned.</small>
          <% end %>
          <hr class="my-2">
        </div>
      <% end %>

        </div>
      </div>

      <div class="col-md-3">
        <div class="form-actions text-center">
          <%= form_with url: chats_path, method: :post do |f| %>
            <%= hidden_field_tag "chat[title]", @meal_plan.meal %>
            <%= button_tag(type: 'submit',
            class: "card h-100 w-100 border-0 shadow-sm p-4 text-decoration-none text-dark bg-white") do %>
              <div class="fs-3">🤖</div>
              <h5 class="">Ask for a recipe</h5>
            <% end %>
          <% end %>
        </div>

        <div class="form-actions mt-2 text-center">
          <%= link_to edit_meal_plan_path(@meal_plan),
          class: "card h-100 border-0 shadow-sm p-4 text-decoration-none text-dark bg-white" do %>
            <div class="fs-3">📝</div>
            <h5 class="fw-bold mt-3">Edit Plan</h5>
          <% end %>
        </div>

        <div class="form-actions mt-2 text-center">
          <%= link_to meal_plan_path(@meal_plan), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "card h-100 border-0 shadow-sm p-4 text-decoration-none text-dark bg-white" do %>
            <div class="fs-3">🗑️</div>
            <h5 class="fw-bold mt-3">Delete plan</h5>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
