<div class="container">
  <h2><%= @recipe.name %></h2>

  <h3>Keywords</h3>
  <p><%= @recipe.keywords %></p>

  <h3>Calories</h3>
  <p><%= @recipe.calories %></p>

  <h3>Allergens</h3>
  <p>
    <%= @recipe.allergens.present? ? @recipe.allergens : "No allergens" %>
  </p>

  <h3>Ingredients</h3>
  <ul>
    <% @recipe.ingredients.split(",").each do |ingredient| %>
      <li><%= ingredient.strip %></li>
    <% end %>
  </ul>

  <h3>Method</h3>
  <p><%= @recipe.method %></p>
</div>
